* 
/* 
	Section Background (bg.css)
	
	Table of Content
	- general settings for section & subheader
	- background settings for page subheader
	- background settings for section
	- media query
/*

/* general settings for section & subheader */
section,#subheader{
-webkit-background-size: 100% !important;
-moz-background-size: 100% !important;
-o-background-size: 100% !important;
background-size: 100% !important;
}

/* background settings for section */
#section-fun-facts {background:url(../images/clients.jpg) fixed;}
#section-testimonial {background:url(../images/testi.jpg) fixed;}
#section-fun-facts-2 {background:url(../images/background/8.jpg) fixed;}
#section-intro-1 {background:url(../images/background/3.jpg) fixed;background-size: contain !important;
    background-repeat: no-repeat;}
#section-intro-2 {background:url(../images/background/4.jpg) fixed;background-size: contain !important;
    background-repeat: no-repeat;}
/* #section-intro-3 {background:url(../images/login-bg.png) fixed;    background-position: right !important;} */
#section-intro-4 {background:url(../images/background/6.jpg) fixed;}
#section-intro-5 {background:url(../images/background/7.jpg) fixed;}
#section-tickets {background:url(../images/background/8.jpg) fixed;}
#section-intro-6 {background:url(../images/background/9.jpg) fixed;}
#section-intro-7 {background:url(../images/background/10.jpg) fixed;}
#section-intro-8 {background:url(../images/background/11.jpg) fixed;}
#section-intro-9 {background:url(../images/background/12.jpg) fixed;}

#subheader {background:url(../images/background/12.jpg) fixed;}

#section-side-1.side-bg .background-image{background:url(../images/background/bg-side-1.jpg);}
#section-side-2.side-bg .background-image{background:url(../images/background/bg-side-2.jpg);}

/* media query */
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait){
	section{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
	}
}
@media only screen and (max-width: 992px) {
	#subheader{
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-attachment:scroll !important;
	}
}
@media only screen and (max-width: 992px) {
	section{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
	}
}