.row-rev{
	display: flex;
    flex-direction: row-reverse;
}
.text-right{
	text-align: right;
}
.f-right{
	float: right;
}


.sc-name h4{
	font-family: ff-primary-regular !important;
}
.sc-info h3{
	font-family: ff-primary-regular-bold;
}

.sc-info p{
	font-family: ff-primary-regular;
}